.idea/*
out/*
project/*
target/*
tmp/*
waves/*
.qsys_edit*
*db*
*output_files*
*simulation*
*soc_system
*stamp*
*.bak
*~
*.sopcinfo
*.qws
.settings*
*.o
*.d
*obj
*mem_init
de10nano/software/matmul/.force_rebuild
de10nano/software/matmul/.force_relink
de10nano/software/matmul/matmul.elf
de10nano/software/matmul/matmul.map
de10nano/software/matmul/matmul.objdump
de10nano/software/matmul/readme.txt
de10nano/software/matmul_bsp/.force_relink
*.a